/node_modules
/public/hot
/database/seeds
/database/seeds/UsersTableSeeder.php
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
backend.rar

